$primary-color: #5c1010; 
$secondary-color: #E0752F; 
$tertiary-color: #343434; 
$fourth-color: #5F6368; 
$fifth-color: #DCE1DA; 
$white-color: #FFFFFF;
$grey-color: #F2F4F1;
$secGrey-color: #DCE1DA;
$acordion-color: #E3E3E3;

